body {
   background: linear-gradient(126.19deg, #826f66 37.05%, #f7ccac 99.19%);
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar {
   width: 100%;
   height: 60px;
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   z-index: 999;
}

.nav-color {
   background-color: #99b898;
   transition: all ease-in-out 0.3s;
}

.bg-transparent {
   transition: all ease-in-out 0.3s;
}

* {
   z-index: 0;
}

nav a {
   text-decoration: none;
   color: #2a363b;
}

.navbrand-name {
   display: inline;
   margin-top: 1%;
   margin-bottom: 10;
}

.nav-item {
   display: inline-block;
   text-align: center;
}

.navlist a {
   text-decoration: none;
   color: #2a363b;
}

.navlist a:hover {
   text-decoration: overline;
   text-decoration-color: rosybrown;
}
.navlist a:active {
   text-decoration: overline;
}

.button-login {
   display: inline;
   width: 120px;
   height: 35px;
   color: #fecea8;
   background-color: #2a363b;
   border: none;
   border-radius: 15px;
}

button .button-login:hover {
   color: #fecea8;
   background-color: #2a363b;
   border: none;
   border-radius: 15px;
   background-color: darkolivegreen;
   z-index: 3;
}

#hero h1 {
   width: 375px;
   height: 150px;
}

#hero p {
   width: 380px;
   height: 150px;
}

#hero {
   background: linear-gradient(126.19deg, #99b898 37.05%, #fecea8 99.19%);
   width: 100%;
   height: 100vh;
   z-index: 1;
}

.hero-tagline {
   margin-top: 15%;
   margin-bottom: 60px;
   z-index: 1;
}

.fallsnow {
   width: 80%;
   height: 100%;
   z-index: 0;
   margin-right: 3%;
   margin-bottom: -50px;
}
.heroimg {
   width: 45%;
   height: 89%;
   padding-right: 0;
   z-index: 1;
}

#about {
   background-image: url(../assets/5018534.jpg);
   padding: 100px 0;
   height: 100vh;
   background-repeat: no-repeat;
   background-size: cover;
   z-index: 1;
}
* {
   z-index: 2;
}

.headline {
   font-size: 36px;
   padding-top: 150px;
   color: #2a363b;
   padding-left: 25%;
}

.card-about {
   height: 480px;
   width: 95%;
   border: none;
   background: rgba(255, 255, 255, 0.2);
}

.card-photo {
   height: 480px;
   width: 100%;
   border: none;
   background: rgba(255, 255, 255, 0.2);
}

.photocard {
   height: 480px;
   width: 340px;
}

.aboutline {
   font-size: 18px;
}

#menu {
   background-image: url(../assets/bgmenu.png);
   height: 100vh;
   width: 100%;
   padding: 120px 0;
   background-repeat: no-repeat;
   background-size: cover;
}
#menu h4 {
   padding-bottom: 40px;
}

.ursnow {
   padding-bottom: 200px;
}

.card-menu {
   background-color: #2a363b;
   height: 280px;
   width: 100%;
   border-radius: 10px;
   color: #99b898;
}

.titlemenu {
   margin-top: 20px;
   font-size: 22px;
}

.card .subtitle {
   width: 200px;
   height: 40px;
   margin-top: 120px;
   text-align: center;
   margin-left: 25px;
}

.card-menu:hover {
   background-color: beige;
   color: #2a363b;
   transition: all 0.2s ease-in-out;
}

#review {
   height: 780px;
   width: 100%;
   padding-top: 80px;
   background-image: url(../assets/bgrv.png);
   background-repeat: no-repeat;
   background-size: cover;
}

#review h2 {
   text-shadow: 1px 2px 0.2;
}

#review h5 {
   padding-bottom: 30px;
   font-style: oblique;
}

#contact {
   background-image: url(../assets/bgktk.png);
   height: 100vh;
   width: 100%;
   background-repeat: no-repeat;
   background-size: cover;
}

#contact h3 {
   margin-top: 150px;
   font-size: 40px;
   line-height: 50px;
   color: #fff;
}

#contact h6 {
   font-size: 18px;
   line-height: 24px;
   color: #fff;
   margin: 19px 0 14px 0;
}
.ourcontact a {
   font-size: 16px;
   line-height: 18px;
   color: #fff;
   text-decoration: none;
   display: inline-block;
}

.linkcafe {
   color: #fff;
   text-decoration: none;
   display: inline-block;
}

.tagcontact {
   color: #2a363b;
   font-size: 30px;
   margin-bottom: 20px;
}

footer {
   width: 100%;
   height: 150px;
   background: #000000;
}

.copyright {
   bottom: 1%;
   color: #fff;
   font-size: 14px;
   font-weight: 400;
   line-height: 21px;
}

footer a {
   font-size: 20px;
   font-weight: 600;
   line-height: 30px;
   text-decoration: none;
   color: #fff;
}
